header {
	height: 100%;
	width: 100%;
}

header img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: auto;
	margin-top: -143px; 
	margin-left: -250px; 
}

@media screen and (max-width: 750px){
	header img {
		width: 300px;
		margin-top: -86px; 
		margin-left: -150px; 
	}
}


@media screen and (max-width: 350px){
	header img {
		width: 150px;
		margin-top: -86px; 
		margin-left: -75px; 
	}
}
